input{
    padding: 15px;
    border: none;
    width: 100%;
    transition: .5s all;

}
input:hover{
    transition: .5s all;
    border-radius: 15px;
    box-shadow: 3px 5px 4px red;
}
@media(max-width:400px){

    input{
       width: 100%
    }
}